/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.large-6.columns {
  width: 360px;
}

 .news-image {
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .news-content {
   margin-left: -20px;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .notice {
   color: #23c1a0;
   font-size: 18px;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 1.5px;
 }

 .button.inc {
   background-color: #23c1a0;
   font-size: 12px;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 1.5px;
 }

 .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}
.video-container iframe {
    position: absolute;
    top: 10;
    left: 0;
    width: 95%;
    height: 95%;
}

 body {
   padding-top: 150px;
   margin-left: 40px;
   margin-right: 40px;
 }

 .titles {
   overflow: hidden;
   margin-left: 20px;
   font-weight: bold;
   letter-spacing: 3px;
   font-size: 40px;
}

.titles:after {
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: text-bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 30px;
  border-top: 6px solid black;
}

 hr {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   border-width: 3px;
   border-color: #0a0a0a;
}

/* NAV BAR */

 .sticky-shrinknav-menu {
   position: absolute;
   bottom: 0;
   height: 1.75rem;
   line-height: 1.75rem;
   width: 100%;
   transition: all 0.5s ease;
 }

 a {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

 .sticky-shrinknav-menu li {
   border-radius: 2px;
   transition: all 0.3s ease;
 }

 .sticky-shrinknav-header {
   margin-left: 30px;
   width: 100%;
   height: 150px;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: left;
       -ms-flex-align: left;
           align-items: left;
   -webkit-justify-content: left;
       -ms-flex-pack: left;
           justify-content: left;
   background-color: #fefefe;
   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
   transition: all 0.5s ease;
 }

 /* FOOTER */

.site-footer {
  background: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  padding: 2rem 0 0;
}

.site-footer-title {
  color: #fefefe;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}
